/* ----------------------- global styles -------------------- */
.cameraSettingComponent,
.front_page_container {
  display: flex;
}

/* ------------------------- camera container styles ------------------------ */
.front_page_container {
  background: #050016;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.cameraSettingComponent {
  display: flex;
  height: 400px;
}
