.playerWrapperClass,
.player,
.time-control,
.play-control {
  display: flex;
}

.time-control,
.play-control {
  width: 700px;
}

.playerWrapperClass {
  flex-direction: row;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: #06052066;
  backdrop-filter: blur(10px);
  height: 72px;
}
.player {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.track {
  width: 90%;
}
.player,
.track input {
  width: 100%;
}

.time-control,
.play-control {
  align-items: center;
  justify-content: center;
  gap: 6px;
}

/* ------------------- songThumbnail */
.songThumbnail {
  left: 0;
  padding: 10px;
}
.song-container img {
  width: 54px !important;
  height: 54px !important;
  border-radius: 3px;
}

.song-container {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 840px) {
  .time-control,
  .play-control {
    width: 90%;
  }
  .playerContainer {
    width: 80%;
  }
  .control-icon {
    font-size: 24px !important;
  }
  .play-control {
    gap: 9px;
  }
}

@media only screen and (max-width: 840px) {
  .metaInfo h2 {
    display: none;
  }
  .metaInfo h1 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
}
