.InnerPageSection {
  color: #fff;
  width: 100%;
  height: 100vh;
}

/*----------------------- golbal styles --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,500;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');
.rightMainContainer,
.bottomOperations,
.topNav {
  background-color: #212121;
  border-radius: 10px;
}

.msCard h4,
.subTitle {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navHeader,
.pageContainer,
.rightMainContainer,
.sideBarContainer,
.musicSectionCard,
.msCard h6,
.userProfileIcons,
.navSlider,
.sidebarHome,
.sidebarSearch,
.rightIcon,
.leftIcon,
.userProfile,
.notificationBell,
.musicSectionCard {
  display: flex;
}

.navSlider,
.userProfileIcons {
  gap: 12px;
}
.userProfile,
.notificationBell,
.rightIcon,
.leftIcon,
.msCard,
.sidebarHome,
.sidebarSearch {
  cursor: pointer;
}
.navHeader,
.msCard,
.msCard img,
.sidebarHome,
.sidebarSearch {
  border-radius: 10px;
}

.navHeader:hover,
.sidebarHome:hover,
.sidebarSearch:hover {
  background: #2a2929;
}
/* -------------------------- navbar -------------------- */
.navHeader {
  top: 0;
  height: 62px;
  padding: 15px;
  position: sticky;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------ main containers ------------------------- */
.pageContainer {
  gap: 10px;
  width: 100%;
  height: 100vh;
}

.rightMainContainer {
  flex-direction: column;
  gap: 10px;
  width: 75%;
  margin: 10px 10px 10px 0;
}
.sideBarContainer {
  width: 25%;
  margin: 10px 0 10px 10px;
  flex-direction: column;
  gap: 10px;
}
.topNav {
  height: 100px;
}
.bottomOperations {
  height: 100%;
}
/* -------------------- music card  ----------------- */

.musicSectionCard {
  gap: 27px;
  padding: 20px;
  justify-content: space-evenly;
}
.msCard {
  /* height: 230px; */
  width: 190px;
  padding: 16px;
  background: #3b3b394f;
}
.msCard:hover {
  background: #3b3b397d;
}
.msCard img {
  margin-bottom: 9px;
}
.msCard h4 {
  font-size: 1rem;
  font-weight: 700;
}
.msCard h5 {
  font-size: 0.875rem;
  width: 150px;
  color: #a7a7a7;
  -webkit-line-clamp: 2;
}

/* ------------------------- navHeader -------------------- */
.rightIcon,
.leftIcon,
.userProfile,
.notificationBell {
  background: #000000b3;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}
.dayGreeting {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 18px;
}
/* ------------------------ sideBarContainer --------------------- */
.sidebarHome,
.sidebarSearch {
  align-items: center;
  gap: 20px;
  font-size: 15px;
  height: 40px;
  font-weight: 700;
  margin: 6px;
  padding: 0px 0 0px 12px;
  align-items: center;
}
