.InnerPageSection {
  color: #fff;
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/*----------------------- golbal styles --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,500;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');
.rightMainContainer,
.bottomOperations,
.topNav {
  background-color: #212121;
  border-radius: 10px;
}

.msCard h4,
.subTitle {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navHeader,
.pageContainer,
.rightMainContainer,
.sideBarContainer,
.musicSectionCard,
.msCard h6,
.userProfileIcons,
.navSlider,
.sidebarHome,
.sidebarSearch,
.rightIcon,
.leftIcon,
.userProfile,
.notificationBell,
.musicSectionCard,
.createLiOptions,
.musicLibrary,
.createMore,
.libraryPlayListContainer,
.libraryplcontainer,
.libraryInfo,
.sortActions,
.userContaineSection,
.userContaineSection,
.UserActionContainer,
.userContaineSection span {
  display: flex;
}

.navSlider,
.userProfileIcons {
  gap: 12px;
}
.userProfile,
.notificationBell,
.rightIcon,
.leftIcon,
.msCard,
.sidebarHome,
.sidebarSearch,
.musicLibrary,
.showMore,
.createNewPlaylist,
.libraryplcontainer,
.userContaineSection span {
  cursor: pointer;
}

.msCard,
.msCard img,
.sidebarHome,
.sidebarSearch {
  border-radius: 10px;
}

.sidebarHome:hover,
.sidebarSearch:hover {
  background: #2a2929;
}
/* -------------------------- navbar -------------------- */
.navHeader {
  top: 0;
  height: 62px;
  padding: 10px 15px;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background: #2a2929;
}

.navOutContainer {
  position: sticky;
  top: 0;
}

/* ------------------------ main containers ------------------------- */
.pageContainer {
  gap: 10px;
  width: 100%;
  height: 100vh;
}

.rightMainContainer {
  flex-direction: column;
  gap: 10px;
  width: 75%;
  margin: 10px 10px 10px 0;
  overflow: scroll;
  position: relative;
}
.sideBarContainer {
  width: 25%;
  margin: 10px 0 10px 10px;
  flex-direction: column;
  gap: 10px;
}
.topNav {
  height: 100px;
}
.bottomOperations {
  height: 100%;
}
/* -------------------- music card  ----------------- */

.musicSectionCard {
  gap: 27px;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.msCard {
  height: 250px;
  width: 190px;
  padding: 15px 12px;
  background: #3b3b394f;
}
.msCard:hover {
  background: #3b3b397d;
}
.msCard img {
  margin-bottom: 9px;
}
.msCard h4 {
  font-size: 1rem;
  font-weight: 700;
}
.msCard h5 {
  font-size: 0.875rem;
  width: 150px;
  color: #a7a7a7;
  -webkit-line-clamp: 2;
}

/* ------------------------- navHeader -------------------- */
.rightIcon,
.leftIcon,
.userProfile,
.notificationBell {
  background: #000000b3;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}
.dayGreeting {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 9px 18px;
}

.UserActionContainer {
  width: 100%;
  position: absolute;
  z-index: 30;
  background: black;
  align-content: center;
  justify-content: center;
  align-items: center;
  animation: wipe-enter 1s 1;
  animation-name: wipe-enter;
  animation-duration: 1s;
  padding: 20px 0 20px 0;
}
@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}
.userContaineSection {
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.userContaineSection span {
  height: 48px;
  width: 90%;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #1d0534;
  border-radius: 9px;
}

.userContaineSection span:active {
  transform: scale(0.98);
  user-select: none;
}

/* ------------------------ sideBarContainer --------------------- */
.sidebarHome,
.sidebarSearch {
  align-items: center;
  gap: 20px;
  font-size: 15px;
  height: 40px;
  font-weight: 700;
  margin: 6px;
  padding: 0px 0 0px 12px;
  align-items: center;
}

.createLiOptions {
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 18px;
}

.musicLibrary {
  align-items: center;
  gap: 15px;
}
.createMore {
  gap: 15px;
}

.libraryImg {
  height: 54px;
  width: 54px;
}
.libraryImg img {
  border-radius: 6px;
}
.libraryInfo {
  flex-direction: column;
}
.libraryplcontainer {
  gap: 15px;
}
.libraryPlayListContainer {
  padding: 15px;
  flex-direction: column;
  gap: 10px;
}
.sortActions {
  align-items: center;
  gap: 15px;
  padding: 6px 0 6px 15px;
}

/* ----------------- responsive styles --------------- */
@media only screen and (min-width: 440px) {
  .UserActionContainer {
    width: 200px !important;
    right: 0;
    padding: 20px 15px !important;
    border-radius: 6px;
  }
  .userContaineSection span {
    height: 36px;
  }
}

@media only screen and (max-width: 800px) {
  .sideBarContainer {
    display: none;
  }
  .rightMainContainer {
    width: 100%;
    margin: 0px !important;
    border-radius: 0px !important;
  }
  .msCard {
    width: 90%;
    height: auto;
  }
  .musicSectionCard {
    padding: 10px !important;
    grid-gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* min-width: 372px; */
    justify-items: center;
  }
}

@media only screen and (max-width: 388px) {
  .musicSectionCard {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
